<?xml version="1.0" encoding="utf-8" ?>
<config>
    <modules>
        <Top_SAP>
            <version>0.1.0</version>
        </Top_SAP>
    </modules>
    <global>
        <helpers>
            <top_sap>
                <class>Top_SAP_Helper</class>
            </top_sap>
        </helpers>
        <models>
            <top_sap>
                <class>Top_SAP_Model</class>
            </top_sap>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <top_sap>
                        <class>top_sap/observers_salesPlaced</class>
                        <method>orderSAP</method>
                    </top_sap>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
</config>
